<div class="banner">
  <h1>Save any kind of movie</h1>
</div>
<div class="d-flex justify-between p-4">
  <div class="grid-card p-3 col-8">
    <% @lists.each do |list| %>
      <%= link_to list_path(list.id) do %>
        <div class= "list-card mx-auto mt-3">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, alt: "Picture for list: #{list.name}" %>
          <% else %>
            <%= image_tag 'salle-cinema-vide-chaises_651396-2891.avif' %>
          <% end %>
          <span><h3 class= 'text-center'><%= list.name %></h3></span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="new-card col-4 p-3">
    <div>
      <h3>Add a new list</h3>
    </div>
    <div>
      <%= simple_form_for @list do |f|%>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "New list", class: "btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>
