<div class="list-banner">
  <h4><%= @list.name %></h4>
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, alt: "Picture for list: #{@list.name}" %>
  <% else %>
    <%= image_tag 'salle-cinema-vide-chaises_651396-2891.avif' %>
  <% end %>
</div>

<div class="d-flex justify-content-between p-4">
    <div class="card p-3">
      <% @bookmarks.each do |bk| %>
      <div class= "movie-card mt-3">
        <%= image_tag bk.movie.poster_url %>
        <div>
          <h4><%= bk.movie.title %></h4>
          <%= link_to raw('<i class="fa-regular fa-trash-can"></i>'), list_bookmark_path(@list, bk), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% bk.movie.rating.to_i.times do %>⭐ <% end %>
          <p><%= bk.movie.overview %></p>
        </div>
      </div>
      <% end %>
    </div>

  <div class="new-card">
    <h4>Add a movie</h4>
    <%= simple_form_for [@list, @movie, @bookmark], url: list_bookmarks_path(@list), method: :post do |f|%>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit "Add a bookmark", class: "btn btn-success mt-3" %>
    <% end %>
  </div>
</div>
<%= link_to "back to my lists", lists_path, class: "btn btn-primary position-sticky fixed-bottom text-end m-3"  %>
