<h4><%= @list.name %></h4>

  <div class="grid-card p-3">
    <% @movies.each do |movie| %>
    <div class= "movie-card mt-3">
      <%= image_tag movie.poster_url %>
      <h4><%= movie.title %></h4>
      <%= link_to raw('<i class="fa-regular fa-trash-can"></i>'), list_bookmark_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% movie.rating.to_i.times do %>⭐ <% end %>
      <p><%= movie.overview %></p>
    </div>
    <% end %>
  </div>

<div class="card">
  <h4>Add a movie</h4>
  <%= simple_form_for [@list, @movie, @bookmark], url: list_bookmarks_path(@list), method: :post do |f|%>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add a bookmark", class: "btn btn-success mt-3" %>
  <% end %>
</div>

<%= link_to "back to my lists", lists_path, class: "btn btn-primary m-3"  %>
